.portfolio {
  padding: 10vh;
  color: white;
  background-color: black;
  text-align: center;
  height: 100vh;
  background-image: url("../../Assets/img/fondito.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.trabajos_lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: none;
  -webkit-animation: fadeInFromNone 1.5s ease-out;
  -moz-animation: fadeInFromNone 1.5s ease-out;
  -o-animation: fadeInFromNone 1.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
.imgTrabajos {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.trabajo {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.layer p,
.layer i {
  background: none;
}
.layer {
  /* background: none; */
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  font-size: 1.4vh;
  text-align: center;
  height: 0%;
  transition: height 0.3s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 2vh;
  background: none;
}
.layer a {
  margin-top: 2vh;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  text-align: center;
}

.trabajo:hover img {
  transform: scale(1.1);
}
.trabajo:hover .layer {
  height: 100%;
}
