.about {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #191919;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 15vh;
  position: relative;

  min-height: 100px;
  overflow: hidden;
}

.main img {
  /* height: auto; */
  width: 25vw;
  position: absolute;
  left: 10vw;
  margin-top: -15vh;
  border-radius: 30px;
  transform-origin: left;
}

.image1 {
  -webkit-clip-path: polygon(0 0, 0 32%, 28% 0);
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  /* transition: transform 300ms ease; */
  transform-origin: top;
}
.image_wrapper .image1 {
  -webkit-animation: ease;
  -webkit-animation-name: imageRun;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.image2 {
  -webkit-clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
}
/* .image_wrapper:hover .image2 {
  transform: translate(0, 0);
} */
.image_wrapper .image2 {
  -webkit-animation: ease;
  -webkit-animation-name: imageRun;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.image3 {
  -webkit-clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
}
.image_wrapper .image3 {
  -webkit-animation: ease;
  -webkit-animation-name: imageRun;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.image4 {
  -webkit-clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
}
.image_wrapper .image4 {
  -webkit-animation: ease;
  -webkit-animation-name: imageRun;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes imageRun {
  0% {
    /* left: -50vw; */
  }
  /* 80% {
    left: -8vw;
  } */
  50% {
    /* left: -9vw; */
  }
  100% {
    transform: translate(0, 0);
    /* left: -10vw; */
  }
}
.aboutText {
  width: 55vh;
  background-color: #191919;
  margin-left: 50vh;
  overflow: hidden;
}
.main {
  width: 57vw;
  margin: 0 15vw;
  display: flex;
  max-width: 95%;
  align-items: center;
  justify-content: space-around;
  background-color: #191919;
}

.aboutText h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  left: 0vw;
  animation-delay: 1s;
  -webkit-animation: ease;
  -webkit-animation-name: runTitle;
  -webkit-animation-duration: 1s;
  background-color: #191919;
}

.animationOff {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  left: 0vw;
}
@keyframes runTitle {
  0% {
    left: -50vw;
  }
  /* 80% {
    left: -8vw;
  } */
  50% {
    left: -1vw;
  }
  100% {
    left: 0vw;
  }
}
.aboutText h5 {
  color: white;
  font-size: 1.1vw;
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  right: 0vw;
  -webkit-animation: normal;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
  background-color: #191919;
}
.aboutText p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 0.9vw;
  margin-bottom: 45px;
  right: 0vw;
  position: relative;
  z-index: 2;
  -webkit-animation: ease;
  -webkit-animation-name: run;
  -webkit-animation-duration: 3s;
  background-color: #191919;
}

.spanLogo {
  color: #f9004d;
  background-color: #191919;
}

@keyframes run {
  0% {
    right: -50vw;
  }
  /* 80% {
    right: -8vw;
  } */
  50% {
    /* right: -9vw; */
  }
  100% {
    right: 0vw;
  }
}

.buttonCV {
  background-color: #f9004d;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  /* transition: 6s; */
  right: 40vh;
  margin-left: 10vw;
  margin-right: -14vw;
  position: absolute;
  z-index: 1;
  -webkit-animation: fadeInFromNone 1.7s ease-out;
  -moz-animation: fadeInFromNone 1.7s ease-out;
  -o-animation: fadeInFromNone 1.7s ease-out;
  animation: fadeInFromNone 1.7s ease-out;
  /* animation-delay: 20s; */
}
.buttonCVOff {
  display: none;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }
  80% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }
  80% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }
  80% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }
  80% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.buttonCV:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.buttonCV a {
  text-decoration: none;
  color: white;
  background: none;
}
.buttonCV a:hover {
  text-decoration: none;
  color: white;
  /* background: none; */
}
@media screen and (max-width: 1400px) {
  .main {
    width: 80vw;
    /* margin: 0 20vw; */
    display: flex;
    /* max-width: 50%; */
    align-items: center;
    justify-content: center;
    background-color: #191919;
  }

  .main img {
    width: 500px;
    left: 10vw;
    margin-top: -15vh;
  }
}
@media screen and (max-width: 1400px) {
  .buttonCV {
    position: absolute;
    bottom: 10vh;
    right: 50vw;
  }
}
@media screen and (max-width: 950px) {
  .aboutText h2 {
    font-size: 40px;
    white-space: nowrap;
    -webkit-animation-duration: 0.5s;
  }

  .image_wrapper {
    /* flex-basis: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
    left: 0;
    margin-left: 5%;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 57vw;
    margin: 0 20vw;
  }
  .main img {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    border-radius: 30px;
    width: 90vw;
    height: 34vh;
  }
  .aboutText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: none;
    width: auto;
    width: auto;
    background-color: #191919;
    margin-top: 10vh;
    margin-left: 0vh;
  }
  .aboutText p {
    background: none;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 13px;
    width: 25vh;
    margin: auto;
    -webkit-animation-duration: 0.5s;
  }
  .aboutText h5 {
    font-size: 15px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    -webkit-animation-duration: 0.5s;
  }
  .image_wrapper .image1,
  .image_wrapper .image2,
  .image_wrapper .image3,
  .image_wrapper .image4 {
    -webkit-animation: ease;
    -webkit-animation-name: imageRun;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

  .buttonCV {
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    right: auto;
    margin: auto;
    position: absolute;
    bottom: 4vh;
    position: absolute;
    z-index: 1;

    -webkit-animation: fadeInFromNone 0.7s ease-out;
    -moz-animation: fadeInFromNone 0.7s ease-out;
    -o-animation: fadeInFromNone 0.7s ease-out;
    animation: fadeInFromNone 0.7s ease-out;
  }
}
@media screen and (max-width: 360px) {
  .aboutText p {
    background: none;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 2.5vh;
    font-size: 1.6vh;
    width: 100%;
    margin: auto;
  }
  .aboutText h5 {
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .spanLogo {
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .buttonCV {
    height: 5vh;
    width: 40vw;
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
