.servicios {
  padding: 30px 0;
  width: 100%;
  height: 100vh;
  background: black;
}

.servicios_listaOff {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.7s ease-in-out all;
}

.servicios_lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  background: none;
  /* opacity: 1;
  transform: scale(1); */
  -webkit-animation: fadeInFromNone 1.5s ease-out;
  -moz-animation: fadeInFromNone 1.5s ease-out;
  -o-animation: fadeInFromNone 1.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
.servicios_lista i,
.servicios_lista h2,
.servicios_lista p {
  background: none;
}
.container h1 {
  color: #fff;
}
.servicios_lista div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  /* background: none; */
  color: #fff;
}

.servicios_lista div i {
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
}
.servicios_lista div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #fff;
}
.servicios_lista div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.servicios_lista div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
