.container {
  position: relative;
}

nav.sticky {
  /* padding: 40px 100px; */
  background: rgba(255, 255, 255, 0.839);
  backdrop-filter: blur(3px);
  width: 100%;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
}
nav.sticky .link,
nav.sticky .logo {
  color: black;
  font-weight: bold;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 99999;
  transition: 0.6s;
}

.navBar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.navBar ul li {
  background: none;
  position: relative;
  list-style: none;
}
.navBar ul li a {
  background: none;
  position: relative;
  margin: 0 1.5vh;
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
}

.menu {
  margin-left: 70vh;
  position: relative;
  background: none;
  display: flex;
}

.link {
  background: none;
  position: relative;
  text-decoration: none;
  padding: 1vh 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  /* width: 10vw; */
}
.linkActive {
  background: none;
  position: relative;
  text-decoration: none;
  padding: 1vh 20px;
  color: #f9004d;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  pointer-events: none;
  /* opacity: 0.6; */
}

.link:hover {
  color: #f9004d;
  transition: 0.4s;
  cursor: pointer;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background: none;
}

.linkActive::after {
  content: "";
  height: 3px;
  background: #f9004d;
  left: 0;
  bottom: 1px;
  width: 0;
  margin-left: 25%;
  position: absolute;
}

.linkActive::after {
  -webkit-animation: ease;
  -webkit-animation-name: run;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes run {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.spanLogo {
  color: #f9004d;
  background: none;
}

@media screen and (max-width: 1100px) {
  .navBar {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .navBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .linkOff,
  .link {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}
