.container {
  background-color: red;
  position: relative;
}

nav.sticky {
  /* padding: 40px 100px; */
  background: white;
  width: 100%;
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
}
nav.sticky .link,
nav.sticky .logo {
  color: black;
}

nav.sticky .navBar {
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 99999;
  transition: 0.6s;
}
.menu {
  margin-left: 70vh;
  position: relative;
  background: none;
}

.link {
  background: none;
  position: relative;
  text-decoration: none;
  padding: 1vh 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.linkOff {
  text-decoration: none;
  padding: 1vh 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: #f9004d;
}

.linkOff:hover,
.link:hover {
  color: #f9004d;
  transition: 0.4s;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  background: none;
}

.spanLogo {
  color: #f9004d;
  background: none;
}

@media screen and (max-width: 1100px) {
  .navBar {
    display: flex;
    flex-direction: column;
  }
  .linkOff,
  .link {
  }
}
@media screen and (max-width: 650px) {
  .navBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .linkOff,
  .link {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}
